@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
:root {
  --primary-color: #10002b;
  --secondary-color: #fcfcfc;
  --font-spotlight: #c77dff;
  --button-color: #3c096c;
  --transition: 0.3s;
  --gray: #6c6f7f;
}

body {
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/*[menu]*/
.menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97%;
}
.menu ul li {
  list-style: none;
  margin-left: 1%;
  font-size: 23pt;
}
.menu ul li a {
  color: white;
}
.menu ul li a:link {
  text-decoration: none;
}

.mobile {
  display: none;
}

.mobile a {
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  font-family: "work sans", sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
.mobile a:hover {
  opacity: 0.5;
}
.mobile ul {
  padding: 0;
  list-style-type: none;
}
.mobile nav {
  background-color: #1e1e23;
  height: 100vh;
}

.mobile #menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.mobile #menuToggle input {
  display: flex;
  width: 60px;
  height: 42px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.mobile #menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.mobile #menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.mobile #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.mobile #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
.mobile #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(1.1, 1.1);
}

.mobile #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.mobile #menu {
  position: absolute;
  width: 90vw;
  height: 95vh;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile #menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

.mobile #menuToggle input:checked ~ ul {
  transform: none;
}

/*[
    login page
]*/
.loginPanel {
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.loginPanel #left-flex {
  background-color: var(--primary-color);
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 20pt;
}
.loginPanel #left-flex .spot {
  font-size: 60pt;
  color: var(--font-spotlight);
}
.loginPanel #left-flex code {
  color: #474a8a;
  font-size: 17pt;
}
.loginPanel #left-flex #js {
  color: gold;
}
.loginPanel #right-flex {
  width: 50%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPanel #right-flex label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20pt;
}
.loginPanel #right-flex label input {
  border: 0.17rem solid var(--primary-color);
  width: 20vw;
  height: 7vh;
  margin-bottom: 1%;
  border-radius: 10px;
  text-align: center;
  font-size: 19pt;
}
.loginPanel #right-flex label input:focus {
  outline: none;
}
.loginPanel #right-flex span {
  font-size: 45pt;
  margin-bottom: 6%;
  color: var(--font-spotlight);
}
.loginPanel #options {
  width: 40%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7%;
}
.loginPanel #options button,
.loginPanel #option button a {
  border: 1px solid var(--button-color);
  width: 40%;
  border-radius: 20px;
  font-weight: 800;
  font-size: 11pt;
}
.loginPanel #options button {
  background-color: var(--button-color);
  color: var(--secondary-color);
  transition: var(--transition);
}
.loginPanel #options button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.loginPanel #options #a-link {
  background-color: var(--secondary-color);
  color: var(--button-color);
}
.loginPanel #options #a-link {
  border: 2px solid var(--primary-color);
}
.loginPanel #options #a-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.loginPanel #options button a:link {
  text-decoration: none;
  color: var(--button-color);
}
.credits {
  position: absolute;
  color: var(--gray);
  bottom: 0;
  right: 0;
  font-size: 11pt;
}
/*[Browse Page]*/
.explorePanel {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #212529;
}
.explorePanel main {
  margin-top: 4%;
  width: 90%;
  height: 88vh;
  overflow-y: auto;
  -webkit-box-shadow: 2px 2px 27px -11px rgba(255, 255, 255, 0.73);
  -moz-box-shadow: 2px 2px 27px -11px rgba(255, 255, 255, 0.73);
  box-shadow: 2px 2px 27px -11px rgba(255, 255, 255, 0.73);
}

.explorePanel main .title-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(14, 13, 13);
  color: var(--secondary-color);
}
.explorePanel main .title-header span {
  font-weight: 500;
  font-size: 38pt;
}
.explorePanel .item {
  border: 1px solid var(--gray);
  height: 14%;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}
.explorePanel .item .header {
  align-self: flex-start;
  width: 97%;
  height: 50%;
  font-size: 24pt;
  font-weight: 560;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.explorePanel .item .header a:link {
  text-decoration: none;
}
.explorePanel .item .header a {
  color: rgb(83, 83, 163);
  margin-left: 1%;
}
.explorePanel .item .footer {
  width: 97%;
  height: 50%;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  font-weight: 700;
  margin-left: 1em;
}
.explorePanel .item .footer span {
  margin-left: 0.9%;
}
.modal {
  position: absolute;
  width: 60vw;
  height: 50vh;
  top: 20%;
  background-color: #f3f3f4;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.modal .exit {
  align-self: flex-end;
  background-color: transparent !important;
  color: red;
  font-size: 19pt;
}
.closed {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  display: none;
}
.modal .title {
  font-size: 45pt;
  align-self: center;
  height: 40%;
  font-weight: 800;
}
.modal .options {
  align-self: center;
  height: 40%;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 23pt;
  color: rgb(0, 0, 0);
}
.modal .options button {
  width: 100%;
  height: 2.5em;
  border-radius: 4px;
  border: none;
  font-family: "Kaushan Script", cursive;
  font-size: 21pt;
  text-align: center;
  background: var(--button-color);
  color: white;
  -webkit-animation: fade-in 3.2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
	        animation: fade-in 3.2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.modal .options div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}
.modal .options div span {
  font-size: 25pt;
  font-weight: 600;
}
.modal .options .inactive {
  background: var(--gray);
}
.modal .options button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
.modal .date {
  align-self: flex-end;
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.modal .date span {
  margin-right: 2%;
  font-size: 15pt;
}
/*[store_survey_page]*/
.survey-insert {
  font-size: 12pt;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-insert form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.survey-insert form label {
  display: flex;
  flex-direction: column;
  font-size: 20pt;
}
.survey-insert form input {
  height: 4vh;
  font-size: 14pt;
}
.survey-insert form .title {
  align-self: center;
  font-size: 23pt;
}
.survey-insert form button[type="submit"] {
  height: 6vh;
  align-self: center;
  margin-top: 4%;
  border: 1px solid var(--button-color);
  width: 40%;
  border-radius: 10px;
  font-weight: 400;
  font-size: 11pt;
  background-color: var(--primary-color);
  color: white;
  font-size: 22pt;
}
.survey-insert #plus_options {
  width: 3vw;
  height: 3vh;
}
.survey-insert #options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*[Responsive]*/

@media (max-width: 800px) {
  .explorePanel {
    width: 100%;
    height: 100%;
    background-color: #212529;
  }
  .explorePanel main {
    border: none;
    width: 100%;
    height: 100%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .explorePanel main .item {
    width: 96%;
  }
  .explorePanel main .item .header {
    font-size: 17pt;
  }
  .explorePanel main .title-header {
    background-color: transparent !important;
    color: var(--secondary-color);
  }
  .explorePanel main .title-header p {
    display: none;
  }
  .modal {
    width: 90%;
    height: 50%;
    background-color: var(--secondary-color);
    color: black;
  }
  .modal .title {
    font-size: 20pt;
  }
  .modal .options {
    width: 100%;
    height: 60%;
    color: black;
    font-size: 15pt;
  }
  .modal .date {
    flex-direction: row;
    width: 100%;
  }
  .modal .date span {
    font-size: 13pt;
  }
  .modal .options button {
    font-size: 11pt;
    width: 95%;
  }
  .modal .options span {
    font-weight: 700;
  }
  .menu ul li {
    display: none;
  }
  .menu {
    height: 12vh;
  }
  .mobile {
    display: block;
  }
  .menu ul {
    color: green;
    flex-direction: column;
    align-items: flex-end;
  }
  .survey-insert form {
    width: 80%;
  }
  .survey-insert form button[type="submit"] {
    border-radius: 5px;
  }
  .survey-insert #plus_options {
    width: 14vw;
    height: 4vh;
    background-color: var(--button-color);
    border: none;
    color: white;
    margin-top: 1%;
  }
  .loginPanel #left-flex {
    display: none;
  }
  .loginPanel #right-flex {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
  }
  .loginPanel #right-flex span {
    margin-bottom: 0%;
    color: #e0aaff;
  }
  .loginPanel #right-flex label {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 12pt;
    margin-top: 4%;
  }
  .loginPanel #right-flex label input {
    width: 98%;
    font-size: 19pt;
    background-color: var(--primary-color);
    clear: both;
    border-bottom: 0.12rem solid var(--gray);
    border-radius: 0;
    color: var(--secondary-color);
  }
  .loginPanel #right-flex #options {
    position: absolute;
    bottom: 10%;
    flex-direction: column;
    left: 10%;
    width: 80%;
    height: 12%;
    font-size: 14pt;
  }
  .loginPanel #right-flex #options button {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #5a189a;
    -webkit-box-shadow: -1px -1px 20px -4px rgba(90, 24, 154, 0.82);
    -moz-box-shadow: -1px -1px 20px -4px rgba(90, 24, 154, 0.82);
    box-shadow: -1px -1px 20px -4px rgba(90, 24, 154, 0.82);
    margin-bottom: 2%;
  }
  .loginPanel #right-flex #options #a-link {
    background-color: transparent;
    border: none;
    color: var(--gray);
    box-shadow: none;
  }
}
.red {
  color: red;
}
.mauve {
  color: #e0aaff;
}
.green {
  color: rgb(28, 160, 28);
}
.active,
.inactive {
  font-weight: 700;
  font-size: 14pt;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


